<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <title>Edit post</title>
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


    <div class="apresentation">

        <nav class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-center">
            <div>
                <a class="navbar-brand item logo">lucascfarias</a>
                <a class="navbar-brand items active" href="{{ url_for('index') }}">Home</a>
                {% if 'email' not in session %}
                    <a class="navbar-brand items" href="{{ url_for('login') }}">LOGIN WITH GOOGLE</a>
                {% else %}
                    <a class="navbar-brand items">Hello, {{ session['name'] }}</a>
                {% endif %}
            </div>
            {% if 'email' in session %}
                <div>
                {% if session['email'] == 'lucascfp2011@gmail.com' %}
                    <a class="navbar-brand items" href="{{ url_for('adminpanel') }}">Admin Panel</a>
                {% endif %}
                    <a class="navbar-brand items" href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% endif %}
        </nav>

    <div class="apresentation-container">

                    <h3 style="margin: 20px;">Edit Post</h3>

                    <div class="user-main-menu">

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img class="avatar" src="{{ session['user_image'] }}" style="width: 40px; margin-right: 5px;">
                                    </div>
                                    <div class="col-10">
                                        <form action="{{ url_for('edit_post', post_id=post.id) }}" method="post" enctype="multipart/form-data">
                                            <input type="file" name="cover_image" accept="image/*">

                                            <textarea name="content" id="content" rows="4" cols="50">{{ post.content }}</textarea><br>
                                            <input type="submit" class="btn btn-outline-light" value="Edit post"></input>
                                        </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

                        <script>
                            // Inicialize o editor de texto
                            CKEDITOR.replace('content');
                        </script>
                    
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
